header {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0, .7), rgba(0, 0, 0, .8)) ,url("../img/library.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.banner-heading::first-letter {
  font-family: 'Great Vibes', cursive;
  font-size: 10rem;
  margin-right: 20px;
}

.banner-heading img {
  animation: beating 2s infinite;
}

@keyframes beating {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.gallery h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 3rem;
  text-shadow: 3px 3px 5px #afafaf;
  transition: all .5s;
}

.gallery h1::first-letter {
  font-family: 'Great Vibes' , cursive;
  font-size: 5rem;
  margin-right: 15px;
}

.gallery h1:hover {
  transform: translate(-5px , -5px); 
  text-shadow: 5px 5px 10px gray;
}

.gallery img {
  transition: all .4s;
}

.gallery img:hover {
  transform: scale(1.05);
}