header {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0, .7), rgba(0, 0, 0, .8)) ,url("../img/library.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.banner-heading::first-letter {
  font-family: 'Great Vibes', cursive;
  font-size: 10rem;
  margin-right: 20px;
}

.banner-heading img {
  animation: beating 2s infinite;
}

@keyframes beating {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.gallery h1 , .writters h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 3rem;
  text-shadow: 3px 3px 5px #9b9999;
  transition: all .5s;
}

.gallery h1::first-letter , .writters h1::first-letter {
  font-family: 'Great Vibes' , cursive;
  font-size: 5rem;
  margin-right: 15px;
}

.writters h1:hover, .gallery h1:hover {
  transform: translate(-5px , -5px); 
  text-shadow: 5px 5px 10px gray;
}

.gallery img {
  transition: all .4s;
  backface-visibility: hidden;
}

.gallery img:hover {
  transform: scale(1.05);
}

.fromleft {
  animation-name: fromleft;
  animation-duration: 2.5s;
}

.fromright {
  animation-name: fromright;
  animation-duration: 2.5s;
}
  
@keyframes fromleft {
  0% {
    transform: translateX(-140px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }

}

@keyframes fromright {
  0% {
    transform: translateX(140px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.writters {
  background: linear-gradient(rgba(255, 249, 249, 0.8) , rgba(255, 253, 253, 0.9) ) ,
              url(../img/writers-bg.jpeg) fixed center /cover;
}